<!DOCTYPE HTML>

<html>

<head>
    <title>Loan Laptops: All Records</title>
    <meta http-equiv="refresh" content="30">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href="/alllist" class="logo">CFC4 TSS LOAN LAPTOP PLATFORM</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li class="active"><a href="/alllist">All Records</a></li>
                <li><a href="/">Outstanding Loans</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/AssetOutGoing">Loan</a></li>
                <li><a href="/AssetInComing">Receive</a></li>
            </ul>

            </ul>
        </nav>

        <!-- Main -->

        <div id="main">




            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>CCAssetTag</th>
                            <th>AssetTag</th>
                            <th>DateBorrowed</th>
                            <th>TimeBorrowed</th>
                            <th>BorrowedBy</th>
                            <th>LentBy</th>
                            <th>ReturnedBy</th>
                            <th>ReceivedBy</th>
                            <th>DateReturned</th>
                            <th>TimeReturned</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <td>{{row["id"]}}</td>
                            <td>{{row["CCassetTag"]}}</td>
                            <td> {{row["assetTag"]}}</td>
                            <td>{{row['DateBorrowed']}}</td>
                            <td>{{row['TimeBorrowed']}}</td>
                            <td>{{row['BorrowedBy']}}</td>
                            <td>{{row['LentBy']}}</td>
                            <td>{{row['ReturnedBy']}}</td>
                            <td>{{row['ReceivedBy']}}</td>
                            <td>{{row['DateReturned']}}</td>
                            <td>{{row['TimeReturned']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>

                        </tr>
                    </tfoot>
                </table>
            </div>


        </div>
                <button class="button primary fit" onclick=window.location.href='/alllist-1'>Last 1 Day(s)</button>
                <button class="button primary fit" onclick=window.location.href='/alllist-7'>Last 7 Day(s)</button>
                <button class="button primary fit" onclick=window.location.href='/alllist'>All</button>

    </div>
                       
    <!-- Scripts -->

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/jquery.scrollex.min.js"></script>
    <script src="/static/assets/js/jquery.scrolly.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/util.js"></script>
    <script src="/static/assets/js/main.js"></script>

</body>

</html>