<!DOCTYPE HTML>

<html>

<head>
    <title>Loan Laptops: Search</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
<form action="" method="POST">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
            <header id="header">
                <a href="/alllist" class="logo">YOU ARE ABOUT TO LOAN A LAPTOP</a>
            </header>

            <!-- Nav -->
            <nav id="nav">
                <ul class="links">
                    <li><a href="/alllist">All Records</a></li>
                    <li><a href="/">Outstanding Loans</a></li>
                    <li><a href="/search">Search</a></li>
                    <li class="active"><a href="/assetoutgoing">Loan</a></li>
                    <li><a href="/assetincoming">Receive</a></li>
                </ul>

                </ul>
            </nav>

            <!-- Main -->

            <div id="main">


               
                </div>


            </div>




            <!-- Copyright -->
            <div id="copyright">

                <h2> Fill in to Loan / Borrow an asset </h2>


                <input type="text" name="laptopAssetTagOut" id="assIdIn" value="" placeholder="Scan / Enter Laptop Asset Tag" required/>

                <input type="text" name="customerNameOut" id="custNameOut" value="" placeholder="Scan Customer ID card / Enter Name"
                    required />

                <select input type="text" name="staffNameOut" id="staffNameout" value="" placeholder="Scan Staff ID card / Enter Name"
                    required />
                <option value=" -- "> -- </option>
                <option value="Constantine">Constantine</option>
                <option value="Paula">Paula</option>
                <option value="Ade">Ade</option>
                <option value="Donald">Donald</option>
                <option value="Abs">Abs</option>
                <option value="James">James</option>
                <option value="John">John</option>
                
                </select>
                
                <p><input type="submit" class="button fit" value="submit" /></p>

               

            

                    
            </div>
        </div>



        </div>

        <!-- Scripts -->
        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/js/jquery.scrollex.min.js"></script>
        <script src="/static/assets/js/jquery.scrolly.min.js"></script>
        <script src="/static/assets/js/browser.min.js"></script>
        <script src="/static/assets/js/breakpoints.min.js"></script>
        <script src="/static/assets/js/util.js"></script>
        <script src="/static/assets/js/main.js"></script>

</body>

</html>